.provider-selector {
  margin-left: 24px;
}
.provider-selector select {
  padding: 10px;
  border: 1px solid var(--text-color);
  border-radius: 8px;
  font-size: 1rem;
  background: var(--background-color-input-field);
  color: var(--text-color);
}
